[submodule "system"]
	path = system
	url = http://github.com/kohana/core.git
[submodule "modules/codebench"]
	path = modules/codebench
	url = http://github.com/kohana/codebench.git
[submodule "modules/database"]
	path = modules/database
	url = http://github.com/kohana/database.git
[submodule "modules/image"]
	path = modules/image
	url = http://github.com/kohana/image.git
[submodule "modules/orm"]
	path = modules/orm
	url = http://github.com/kohana/orm.git
[submodule "modules/auth"]
	path = modules/auth
	url = http://github.com/kohana/auth.git
[submodule "modules/userguide"]
	path = modules/userguide
	url = http://github.com/kohana/userguide.git
[submodule "modules/cache"]
	path = modules/cache
	url = http://github.com/kohana/cache.git
[submodule "modules/unittest"]
	path = modules/unittest
	url = http://github.com/kohana/unittest.git
[submodule "modules/minion"]
	path = modules/minion
	url = http://github.com/kohana/minion.git
[submodule "modules/uuid"]
	path = modules/uuid
	url = http://github.com/shadowhand/uuid.git
[submodule "modules/cms"]
	path = modules/cms
	url = gitosis@project.colorfulstudio.com:colorfulstudio/colorful/colorfulcms.git
[submodule "modules/xsl"]
	path = modules/xsl
	url = gitosis@project.colorfulstudio.com:colorfulstudio/colorful/xsl.git
[submodule "modules/api"]
	path = modules/api
	url = git@github.com:deeceefar2/kohana-api.git
[submodule "modules/oauth2"]
	path = modules/oauth2
	url = git@github.com:deeceefar2/kohana-oauth2.git
[submodule "modules/assets"]
	path = modules/assets
	url = git@github.com:deeceefar2/assets.git
[submodule "modules/logdb"]
	path = modules/logdb
	url = gitosis@project.colorfulstudio.com:colorfulstudio/colorful/logdb.git
[submodule "modules/pagination"]
	path = modules/pagination
	url = gitosis@project.colorfulstudio.com:colorfulstudio/colorful/pagination.git
[submodule "modules/recaptcha"]
	path = modules/recaptcha
	url = git://github.com/deeceefar2/kohana-recaptcha.git
[submodule "modules/amazonses"]
	path = modules/amazonses
	url = gitosis@project.colorfulstudio.com:colorfulstudio/colorful/amazonses.git
